// gem install sass sass:static
@import url(_base.sass);
@import url(_util.scss);
@import url(_reset.scss);
@import url(_typo.scss);

html,body{
	height: 100%; background: #ddd}
#page{
	background: #fff;
	min-height: 100%;
	width: 900px; margin: 0 auto;
	padding: $normal}

#sidebar{
	width: 280px; 
	float: right;
	aside{
		border: 1px solid $bc_default;
		h2{
			padding: 2px $normal;
			background: #eee -moz-linear-gradient(top, #f1f1f1, #ccc);
		}
		ul{
			padding: 0 $normal;
			overflow: auto;
			max-height: 300px;
			li{padding: 2px 0;}
		}
	}
	
}
#content{
	width: 600px;
	float: left;}
#tweets{
	div{
		padding: 10px;
		background: -moz-linear-gradient(top, #eee, #aaa);
	}
}


@import url(jquery.gritter.scss);