html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section, field {
  display: block; }

footer, header {
  clear: both; }

nav ul, menu ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none; }

mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

section, aside, header, footer {
  zoom: 1; }
  section:after, aside:after, header:after, footer:after {
    content: "";
    display: block;
    clear: both; }

input[type='checkbox'] {
  margin-left: 0; }

dialog {
  display: none; }

body {
  font-size: 12px;
  font-family: "Helvetica Neue", Calibri, Helvetica, "Lucida Grande", Frutiger, Univers, Verdana, sans-serif;
  line-height: 1.4;
  color: #444444; }

a {
  color: #0152a7; }
  a:visited {
    color: #013974; }
  a:hover {
    color: #0170e4; }

h1, h2 {
  color: #2c2c2c; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 12px; }

h4 {
  font-size: 11px; }

h1, h2, h3, h4 {
  margin: 0 0 12px; }

p, ul, blockquote, pre, td, th, label {
  margin: 0;
  font-size: 12px;
  margin-bottom: 12px; }

p.small {
  margin: 0;
  font-size: 11px;
  line-height: 12px;
  margin-bottom: 12px; }

table {
  border: 1px solid #aeaeae;
  border-collapse: separate; }

nav ul {
  margin: 0; }

menu ul {
  margin: 0; }
  menu ul li {
    margin: 0 0 6px;
    list-style: none; }

code {
  padding: 2px 6px;
  background-color: #222222;
  color: #62ec43;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: black 0 0 2px;
  font-family: Monaco, "Bitstream Vera Sans Mono", sans-serif;
  font-size: 12px; }

pre {
  margin-bottom: 24px;
  padding: 12px;
  font-family: Monaco, "Bitstream Vera Sans Mono", sans-serif;
  background-color: #222222;
  color: #62ec43;
  overflow-x: auto;
  text-shadow: black 0 0 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  pre a {
    color: #a7b3ff;
    text-shadow: none; }

textarea.code {
  font-family: Monaco, "Courier New", Courier, monospace;
  font-size: 10px; }

#heading h1 {
  padding: 3px 0; }

h1 em, h1 small, h2 em, h2 small, h3 em, h3 small, h4 small {
  font-weight: normal; }

ul, ol {
  margin: 0 0 18px 40px; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

ol li {
  margin: 11px 0; }

dl {
  margin: 0 0 18px 0; }

dl dt {
  font-weight: bold; }

blockquote {
  margin: 0 0 18px 18px;
  color: #666666;
  font-style: italic; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

th {
  font-weight: bold; }

p.small {
  font-size: 11px; }

p.large {
  font-size: 20px; }

.hide {
  display: none; }

.alt {
  color: #666666;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-size: 12px;
  line-height: 1%;
  font-style: italic; }

.dquo {
  margin-left: -11px; }

p.incr, .incr p {
  font-size: 12px;
  line-height: 1.44em;
  margin-bottom: 18px; }

blockquote p {
  margin: 6px 0; }

big, p.big {
  font-size: 20px; }

ol.big li, ul.big li {
  font-size: 20px; }

small {
  font-size: 11px;
  color: #666666; }

.small em {
  color: #999999; }

a img {
  margin: 0;
  padding: 0; }

.highlight {
  background: #ffff99; }

div.small {
  font-size: 11px; }

q {
  background: #ffff99; }

tt {
  font-family: Courier, mono;
  font-weight: normal; }

h1 tt {
  font-size: 12px; }

.nowrap {
  white-space: nowrap; }

.placeheld {
  color: #666666; }

a.warning,
.warning {
  color: #cc3333; }

input[type='button'], input[type='submit'], button, .button {
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  padding: 2px 6px;
  position: relative;
  text-decoration: none;
  text-align: center;
  width: auto;
  border: 1px solid #b4b4b4;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: #eeeeee repeat-x top -moz-linear-gradient(top, #eeeeee, #aaaaaa);
  font-weight: bold;
  color: #555; }
  input[type='button']:hover, input[type='submit']:hover, button:hover, .button:hover {
    background-color: #eee;
    color: #444; }
  input[type='button'].big, input[type='submit'].big, button.big, .button.big {
    font-size: 20px;
    padding: 6px 20px; }

#sidebar {
  width: 280px;
  float: left; }
  #sidebar aside {
    border: 1px solid #b4b4b4;
    height: 300px; }
    #sidebar aside ul {
      overflow: auto; }

#content {
  width: 600px;
  float: left; }

#tweets div {
  padding: 10px;
  background: -moz-linear-gradient(top, #eeeeee, #aaaaaa); }

/* the norm */
#gritter-notice-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 301px;
  z-index: 9999; }

.gritter-item-wrapper {
  position: relative;
  margin: 0 0 10px 0; }

.gritter-top {
  background: url(/static/images/gritter.png) no-repeat left -30px;
  height: 10px; }

.hover .gritter-top {
  background-position: right -30px; }

.gritter-bottom {
  background: url(/static/images/gritter.png) no-repeat left bottom;
  height: 8px;
  margin: 0; }

.hover .gritter-bottom {
  background-position: bottom right; }

.gritter-item {
  display: block;
  background: url(/static/images/gritter.png) no-repeat left -40px;
  color: #eee;
  padding: 2px 11px 8px 11px;
  font-size: 11px;
  font-family: verdana; }

.hover .gritter-item {
  background-position: right -40px; }

.gritter-item p {
  padding: 0;
  margin: 0; }

.gritter-close {
  position: absolute;
  top: 5px;
  left: 3px;
  background: url(/static/images/gritter.png) no-repeat left top;
  cursor: pointer;
  width: 30px;
  height: 30px; }

.gritter-title {
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 7px 0;
  display: block;
  text-shadow: 1px 1px #000;
  /* Not supported by IE :( */ }

.gritter-image {
  width: 48px;
  height: 48px;
  float: left; }

.gritter-with-image,
.gritter-without-image {
  padding: 0 0 5px 0; }

.gritter-with-image {
  width: 220px;
  float: right; }
