<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Parent Page</title>
    
    <script type="text/javascript">

    if(window.top == window){
    
    var ArkClient = function(options){
        console.log(options);
        this.iFrame = document.getElementById(options.iFrame);
        this.receiveMessage = function (event){
            console.log("Incoming");
            if(event.origin !== this.iFrame.src.host)
                return;
             console.log("Message for me");
        
        }
        window.addEventListener("message",this.receiveMessage,false);
        
    };
    ArkClient.prototype.sendMessage = function(call, options, callback){
    
    
    
    };
    
    var client = new ArkClient({iframe:'clientPage1'});
    
        client.sendMessage('test',{},function(data){
        
            console.log(data);
        
        });
    
    }
    
    if(window.top != window){
    
        var ArkServer = function(){
            document.getElementGetById("pageName").innerHTML = "Server";
            this.receiveMessage = function (event){
                Console.log("Incoming For Server");            
                Console.log("Message for me");        
            }
            window.addEventListener("message",this.receiveMessage,false);        
        };
    }
    
       

    </script>
   
  </head>
  <body>
    
    <h2 id="pageName">Parent page</h2>
    <iframe id="clientPage1" src="http://localhost:8080/"></iframe>
    
  </body>
</html>